.container {
  display: flex;
  flex-wrap: wrap; /*on resize, contents will push to next line as needed*/
}
.container-2 {
   flex-direction: row-reverse; 
   justify-content: center; /* flex-start is the default for jusifty content */
}
.container-3 {
   flex-direction: column; 
}
.container-4 {
   flex-direction: column-reverse; 
}
.container-5 {
   flex-direction: column; 
   height: 280px;
}
.container-6 {
   justify-content: space-between; /* figures out the spacing for you! Alights to start and end */ 
}
.container-7 {
   justify-content: space-around; /* Same, but now the spacing is evenly distributed with edges */ 
}
