.container {
  display: flex;
  flex-wrap: wrap; /*on resize, contents will push to next line as needed*/
}
.container-2 {
   flex-direction: row-reverse; 
}
.container-3 {
   flex-direction: column; 
}
.container-4 {
   flex-direction: column-reverse; 
}